[submodule "vendor/ntHash"]
	path = vendor/ntHash
	url = https://github.com/bcgsc/ntHash
[submodule "vendor/btl_bloomfilter"]
	path = vendor/btl_bloomfilter
	url = https://github.com/bcgsc/btl_bloomfilter
